* {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

h1 {
    text-align: center;
}

table,th,td{border:1px solid #cccccc}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    font-size: 1em;
}

td {
    font-size: 1.3em;
}

tr:nth-child(even) {background-color: #f2f2f2;}

a:link {
    text-decoration: none;
}

.colone_titre a:hover {
    color: #4A86E8;
}

a:visited {
    color: black;
}

.button {
    background-color: #4A86E8;
    color: white;
    border: 2px solid #4A86E8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    margin: 20px auto;
}

.button:hover {
    background-color: white;
    color: #4A86E8;
}

/* Centrer le formulaire */
.form-createTopic {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styliser le formulaire */
.form-createTopic form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.form-createTopic select,
.form-createTopic input[type="text"],
.form-createTopic textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-createTopic select:focus,
.form-createTopic input[type="text"]:focus,
.form-createTopic textarea:focus {
    outline: none;
    border-color: #7289da;
}

.form-createTopic button {
    background-color: #7289da;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-createTopic button:hover {
    background-color: #5a68a5;
}

.topic {
    width: 65%; margin-left: auto; margin-right: auto; background: white; box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    padding: 5px 10px; border-radius: 10px
}